<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70495182994-1ejl3m3a77neu9qvil4ugurjspa7bst3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70495182994-1ejl3m3a77neu9qvil4ugurjspa7bst3</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8eef-5bg790gwsHP_zCjDJFyYTADi2M</string>
	<key>GCM_SENDER_ID</key>
	<string>70495182994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SMTechPrototype</string>
	<key>PROJECT_ID</key>
	<string>mindprototype-caee7</string>
	<key>STORAGE_BUCKET</key>
	<string>mindprototype-caee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70495182994:ios:ed2a99e7ddd6d2388b064b</string>
</dict>
</plist>